

// Process Parameters:

// Process Parameters for extractValidReads:
params.extractValidReads.chunkSize = "500"  //* @input

// Process Parameters for SplitFastq:
params.SplitFastq.readsPerFile =  5000000  //* @input @description:"The number of reads per file"

// Process Parameters for STAR_Module_Map_STAR:
params.STAR_Module_Map_STAR.params_STAR =  "--runThreadN 4"  //* @input @description:"Specify STAR input parameters"

// Process Parameters for Single_Cell_Module_STAR_samtools_sort_index:
params.Single_Cell_Module_STAR_samtools_sort_index.samtools_sort_parameters =  "-@ 1"  //* @input @description:"Samtools parameters"

// Process Parameters for HISAT2_Module_Map_HISAT2:
params.HISAT2_Module_Map_HISAT2.HISAT2_parameters =  "-p 4"  //* @input @description:"Specify HISAT2 input parameters" @hidden

// Process Parameters for Single_Cell_Module_Hisat2_samtools_sort_index:
params.Single_Cell_Module_Hisat2_samtools_sort_index.samtools_sort_parameters =  "-@ 1"  //* @input @description:"Samtools parameters"

// Process Parameters for Tophat2_Module_Map_Tophat2:
params.Tophat2_Module_Map_Tophat2.params_tophat =  "-p 4"  //* @input @description:"Specify Tophat input parameters"

// Process Parameters for Single_Cell_Module_Tophat2_samtools_sort_index:
params.Single_Cell_Module_Tophat2_samtools_sort_index.samtools_sort_parameters =  "-@ 1"  //* @input @description:"Samtools parameters"

// Process Parameters for Single_Cell_Module_Tophat2_filter_lowCount:
params.Single_Cell_Module_Tophat2_filter_lowCount.maxCellsForTmpFile =  500  //* @input @description:"maximum number of unique barcodes in each separated tmp file. Used for increasing performance of ESAT"

// Process Parameters for Single_Cell_Module_Tophat2_ESAT:
params.Single_Cell_Module_Tophat2_ESAT.esat_parameters =  "-task score3p -wLen 100 -wOlap 50 -wExt 1000 -sigTest .01 -multimap ignore -scPrep"  //* @input
params.Single_Cell_Module_Tophat2_ESAT.esat_RAM =  "40"  //* @input @description:"Memory in GB"

// Process Parameters for Single_Cell_Module_Hisat2_filter_lowCount:
params.Single_Cell_Module_Hisat2_filter_lowCount.maxCellsForTmpFile =  500  //* @input @description:"maximum number of unique barcodes in each separated tmp file. Used for increasing performance of ESAT"

// Process Parameters for Single_Cell_Module_Hisat2_ESAT:
params.Single_Cell_Module_Hisat2_ESAT.esat_parameters =  "-task score3p -wLen 100 -wOlap 50 -wExt 1000 -sigTest .01 -multimap ignore -scPrep"  //* @input
params.Single_Cell_Module_Hisat2_ESAT.esat_RAM =  "40"  //* @input @description:"Memory in GB"

// Process Parameters for Single_Cell_Module_STAR_filter_lowCount:
params.Single_Cell_Module_STAR_filter_lowCount.maxCellsForTmpFile =  500  //* @input @description:"maximum number of unique barcodes in each separated tmp file. Used for increasing performance of ESAT"

// Process Parameters for Single_Cell_Module_STAR_ESAT:
params.Single_Cell_Module_STAR_ESAT.esat_parameters =  "-task score3p -wLen 100 -wOlap 50 -wExt 1000 -sigTest .01 -multimap ignore -scPrep"  //* @input
params.Single_Cell_Module_STAR_ESAT.esat_RAM =  "40"  //* @input @description:"Memory in GB"

// Pipeline Config:
$HOSTNAME='default'
defparams.HISAT2_Module.Map_HISAT2.HISAT2_parameters = "-p 8"